extends ../shared/template
block content
  .col-xs-5
    form(role='form', method='post', action='/vacations')
      input#lat(type='hidden', name='lat')
      input#lng(type='hidden', name='lng')
      .form-group
          label(for='name') Vacation Name
          input#name.form-control(type='text', name='name', placeholder='Vacation Name')
        .form-group
          label(for='from') From
          input#from.form-control(type='date', name='from', placeholder='mm/dd/yyyy')
        .form-group
          label(for='to') To
          input#to.form-control(type='date',name='to', placeholder='mm/dd/yyyy')
        button(type='submit') Submit
  .col-xs-7

block scripts
  script(src='/js/user/new-vacation.js')
