@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body{
  height: 100%;
}

#map{
  height: 500px;
}

@bg-color: saturate(green, 20%);

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
  background-color: @bg-color;
}

.img-thumbnail{
  border-style: 1px dashed;
  width: 300px;
  height: 300px;
  margin: 5px;
}
