@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body{
  height: 100%;
}

#map{
  height: 500px;
}

@bg-color: #bbe3d5;

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: black;
}

body{
  background-color: @bg-color;
}

form{
  color: black;
}

.img-thumbnail{
  border-style: 5px dashed;
  width: 300px;
  height: 300px;
  margin: 5px;
}
